@import "normalize.css";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Alegreya:400,700);

/*
font-family: 'Oswald', sans-serif;
font-family: 'Alegreya', serif;
font-weight: 300, 400, 700
*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
    background: url("../images/green_cup.png") repeat;
}

#main-page {
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 90%;
    padding-bottom: 100px;
    background: #f2ff98;
}

#footer {
    background: greenyellow;
    position: relative;
    width: 90%;
    left: 0px;
    bottom: 0px;
    margin-left: 5%;
    margin-top: -100px;
    height: 100px;
}

#wrap-login {
    float: right;
}

#welcome-label, #login-button {
    display: inline-block;
    float: left;
    position: relative;
    height: inherit;
    font-size: 12px;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: #fffdfb;
    text-align: center;
    line-height: 24px;
}

#login-button {
}

#welcome-label {
    width: 160px;
}

.front-button {
    background: mediumblue;
    width: 100px;
}

#login-tab {
    padding-right: 100px;
    background: deepskyblue;
    margin-left: 5%;
    height: 24px;
    width: 90%;
    position: relative;
    top: 0px;
    left: 0px;
}

#header {
    position: relative;
    height: 96px;
    border-bottom: 1px solid black;
}

.current-page-name {
    color: darkorange;
}

#line {
    position: relative;
    height: 24px;
    padding-right: 100px;
    border: 1px solid red;
}

#title-line {
    float: right;
    font-family: 'Alegreya', serif;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

#label {

}

#menu {

}
